@charset "UTF-8";
body {
  margin: 0 auto;
  font-family: "Microsoft YaHei",微软雅黑; }

.frame {
  width: 950px;
  height: auto;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin: 0 auto;
  text-align: center; }

p, h1, h2, h3, h4, h5, ul, li, dl, dt, dd, b, div, img {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: normal; }

ul, li {
  list-style-type: none; }

img {
  vertical-align: top; }

a, area {
  outline: none;
  blr: expression(this.onFocus=this.blur()); }

/*For IE*/
:focus {
  -moz-outline-style: none; }

/*For Firefox*/
.span25 {
  height: 25px;
  line-height: 25px;
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

#frame {
  width: 100%; }

.woman_banner {
  height: 680px;
  background-color: #f24c70; }

.banner1 {
  background: url(cssImg/woman_banner_02.jpg) no-repeat center;
  height: 85px; }

.banner2 {
  background: url(cssImg/woman_banner_03.jpg) no-repeat center;
  height: 85px; }

.banner3 {
  background: url(cssImg/woman_banner_04.jpg) no-repeat center;
  height: 85px; }

.banner4 {
  background: url(cssImg/woman_banner_05.jpg) no-repeat center;
  height: 85px; }

.banner5 {
  background: url(cssImg/woman_banner_06.jpg) no-repeat center;
  height: 85px; }

.banner6 {
  background: url(cssImg/woman_banner_07.jpg) no-repeat center;
  height: 85px; }

.banner7 {
  background: url(cssImg/woman_banner_08.jpg) no-repeat center;
  height: 85px; }

.banner8 {
  background: url(cssImg/woman_banner_09.gif) no-repeat center;
  height: 85px; }

.popularity_back {
  background-color: #f24c70; }

.content_woman {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden; }

.Countdown-box {
  background: #F24C70 url(cssImg/woman_banner_11.gif) no-repeat center;
  height: 122px; }

.Countdown {
  width: 1000px;
  margin: 0 auto; }

.Spike_Countdown {
  width: 765px;
  height: 122px;
  float: left;
  display: block; }

.Countdown_Day {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 264px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_Days {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 267px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_When {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 304px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_time {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 307px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_Branch {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 344px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_component {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 347px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_Seconds {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 384px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Countdown_Sec {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  top: 35px;
  left: 387px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  float: left; }

.Spike_Registered {
  float: right;
  position: relative;
  width: 120px;
  height: 122px;
  left: -72px;
  display: block; }

.popularity_shop {
  padding: 40px 0 30px 0; }

.popularity_shop li {
  width: 490px;
  float: left;
  margin: 0 20px 15px 0;
  position: relative;
  display: block; }

.popularity_shop .shop_margin {
  margin-right: 0;
  display: block; }

.HSTYLE_shop {
  background: url(cssImg/woman_banner_19.gif) no-repeat;
  height: 35px; }

.selected_go {
  float: left;
  position: relative;
  width: 245px;
  height: 35px;
  display: block; }

.shop_more {
  float: right;
  position: relative;
  width: 245px;
  height: 35px;
  display: block; }

.popularity {
  position: absolute;
  z-index: 6;
  font-size: 14px; }

.popularity .ceng {
  position: absolute;
  z-index: 7;
  width: 490px;
  moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: #000;
  height: 25px;
  top: -25px; }

.popularity dl {
  position: absolute;
  z-index: 8;
  width: 450px;
  height: 25px;
  top: -25px;
  line-height: 25px;
  padding: 0 20px; }

.popularity dl dt {
  float: right;
  color: #fff; }

.Support {
  position: absolute;
  z-index: 6;
  font-size: 14px; }

.Support .ceng {
  position: absolute;
  z-index: 7;
  width: 240px;
  moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: #000;
  height: 25px;
  top: -25px; }

.Support dl {
  position: absolute;
  z-index: 8;
  width: 220px;
  height: 25px;
  top: -25px;
  left: 1px;
  line-height: 25px;
  padding: 0 10px; }

.Support dl dt {
  float: right;
  color: #fff; }

.woman_back1 {
  background: url(cssImg/woman_back_03.gif) repeat-x;
  height: 12px;
  overflow: hidden; }

.woman_back2 {
  background: url(cssImg/woman_back_04.gif) repeat-x;
  height: 12px;
  overflow: hidden; }

.Content_SKU {
  background-color: #fde1e5;
  padding: 10px 0 40px 0; }

.Content_pro {
  width: 1000px;
  margin: 0 auto;
  display: block; }

.SKU_title {
  background: url(cssImg/woman_banner_23.jpg) no-repeat bottom center;
  height: 171px;
  width: 1000px;
  padding-top: 20px; }

.SKU_back {
  background-color: #f6844c; }

.SKU_list {
  padding: 8px 8px 0 8px;
  overflow: hidden; }

.SKU_list ul {
  width: 1100px; }

.SKU_list li {
  width: 240px;
  background-color: #fff;
  float: left;
  display: block;
  margin: 0 8px 8px 0; }

.SKU_list li a {
  color: #333;
  text-decoration: none; }

.pro_title {
  padding: 8px 15px 10px 15px;
  color: #333;
  font-size: 12px; }

.money_icon {
  color: #f02944;
  font-size: 18px; }

.pro_Price {
  color: #f02944;
  font-size: 30px;
  font-family: Arial; }

.original_price {
  color: #888; }

.original_xian {
  text-decoration: line-through; }

.SKU_list .pro_right {
  margin-right: 0;
  display: block; }

.Home_title {
  background: url(cssImg/woman_banner_30.jpg) no-repeat bottom center;
  height: 166px;
  width: 1000px;
  padding-top: 20px; }

.Home_back {
  background-color: #f95353; }

.goddess_title {
  background: url(cssImg/woman_banner_32.jpg) no-repeat bottom center;
  height: 171px;
  width: 1000px;
  padding-top: 20px; }

.goddess_back {
  background-color: #f44d71; }

.voce_title {
  background: url(cssImg/woman_banner_34.jpg) no-repeat bottom center;
  height: 169px;
  width: 1000px;
  padding-top: 20px; }

.voce_back {
  background-color: #944db9; }

.Accessories_title {
  background: url(cssImg/woman_banner_36.jpg) no-repeat bottom center;
  height: 169px;
  width: 1000px;
  padding-top: 20px; }

.Accessories_back {
  background-color: #35aa75; }

.rule_back {
  background-color: #f24c70;
  padding: 30px 0; }

.rule_list {
  width: 1000px;
  margin: 0 auto; }

.rule_title {
  background: url(cssImg/woman_banner_42.gif) center no-repeat;
  height: 37px; }

.rule_text {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  padding-top: 20px; }

.rule_text span {
  color: #ffed54; }

.manfan {
  font-size: 18px;
  padding-left: 15px; }

.fuceng {
  width: 110px;
  height: 295px;
  z-index: 500;
  position: fixed;
  bottom: 30px;
  left: 85%;
  _position: absolute; }
