
.Panli_overlay{
	moz-opacity:0.56; /* Moz + FF ͸����20% */
	opacity: 0.56;  /*֧��CSS3����������FF 1.5Ҳ֧�֣�͸����20%*/
	filter:alpha(opacity=56); /* IE ͸����20% */
	position:fixed;bottom:0;top:0;left:0;right:0;background:#000;height:100%;width:100%;_position:absolute; z-index:800;
	display:none;
}

.site_nav{background:#4d4d4d;height:28px;}
.site_center{margin:auto;width:950px;position:relative;z-index:620;}
.login-info{float:left;color:#ddd;margin-top:6px;}
.login-info a{color:#ddd;text-decoration:none;}
.login-info a:hover{color:#FFFF33;}
.quick-menu{float:right;margin-top:6px;}
.quick-menu li{float:left;color:#ddd;padding:0 10px;border-right:#999 solid 1px;font-family:"simsun";}
.quick-menu li a{color:#ddd;text-decoration:none;}
.quick-menu li .gouwu{padding-left:30px; position:relative; background:url(/FrontEnd/images20090801/Gobal/gwc.gif) no-repeat 7px 3px; left:-1px; width:90px; position:absolute;line-height: 22px; z-index:200; height:23px; display:inline;margin: -4px 0px -1px 0px;}
.quick-menu li a.gouwu:hover{border:#bbb solid 1px; border-bottom:none; background-color:#FAFFEC;color:#ff6600; text-decoration:underline;}
.quick-menu li a.gouwu:hover span,.quick-menu li.top_Shop a.mysj_on span{color:#ff6600;}
.quick-menu li a span{color:#fff811;}
.quick-menu li a:hover{color:#FFFF33;text-decoration:underline;}
.quick-menu li a:hover span{color:#d86011}
.quick-menu .top_tool{border:0;padding-right:0;}
.quick-menu .top_tool .gj_img{background:url(/FrontEnd/images20090801/Gobal/fuwu.gif) no-repeat -106px 0;width:93px;padding-left:10px;height:20px;line-height:22px;color:#333;overflow:hidden;position:relative;z-index:99;top:-3px;}
.quick-menu .top_tool a:hover{background-position:0 0;color:#666;text-decoration:none;}

.quick-menu li .gouwu em,.arr{ display:block; width:20px; height:20px; right:0px; position:absolute; top:0px; background: url(/FrontEnd/images20090801/Gobal/mysj.gif) no-repeat -62px 0px;}
.quick-menu li.top_Shop .mysj_on em{ background-position:-62px -24px;}
.quick-menu .top_free{padding:0;width:82px; height:15px; position:relative;}
.top_free .mainfei_arr{background:url(/FrontEnd/images20090801/Gobal/mysj.gif) no-repeat 0 0;width:84px;float:left;height:22px;text-decoration:none;line-height:23px;text-indent:10px;position:relative;z-index:220;margin:-4px -100px 0 -1px;}
.quick-menu .top_Shop{padding:0; position:relative; width:120px; height:14px;}

.quick-menu li.top_Shop .mysj_on{border:#bbb solid 1px; border-bottom:none; background-color:#FAFFEC;color:#333; text-decoration:none;}


.mysj{float:left;width:84px;}
.top_free .mysj_on,.top_free .mysj_on:hover{background-position:0 -23px;height:25px;color:#333;text-decoration:none; position:absolute; }
.mysj_box{position:relative;float:left;position:absolute;right:0px;top:-11px;font-family:"simsun";z-index:100;}
.mysj_bk{background:#FAFFEC;border:#bbb solid 1px;width:480px;height:350px;position:absolute;z-index:20;top:39px;left:-482px;}
.mysj_cd{float:left;width:153px;}
.mysj_t{padding:10px 0 10px 15px;float:left;width:465px;}
.mysj_lv{background:#F5FFDD;border-bottom:#eee solid 1px;border-top:#eee solid 1px;}
.mysj_cd h2{color:#666;font-size:12px;height:20px;line-height:20px;}
.mysj_cd dt{line-height:20px;padding-left:8px;background:url(/FrontEnd/images20090801/see_sj.gif) no-repeat left center;}
.mysj_cd dt a{color:#71a8cf;text-decoration:none;}
.mysj_cd dd{line-height:22px;}
.mysj_cd dd a{text-decoration:none;color:#bbb;}
.mysj_cd a:hover{color:#FF6600;text-decoration:underline;}


.mysj_box2{position:relative;float:left;position:absolute;right:0px;top:-6px;font-family:"simsun";z-index:100;}
.mysj_bk2{background:#FAFFEC;border:#bbb solid 1px;width:82px;height:30px;position:absolute;z-index:20;top:26px;left:-83px;}
.mysj_box2 .mysj_bk2 a{line-height:30px;margin-left:10px;color:#333;text-decoration:none;}
.mysj_box2 .mysj_bk2 a:hover{color:#d86011;}
.mysj_bk2 a:hover{color:#ff6600;text-decoration:underline;}
.mysj_box3{left:82px;}
.mysj_box4{ }
.mysj_box3 .mysj_bk2{width:120px; border-top:none;}
.mysj_box3 .mysj_bk2 a{ padding-right:0px;background:url(/FrontEnd/images20090801/Gobal/zgwc.gif) no-repeat 8px center; margin-left:0px; color:#333;padding-left:30px; float:left; }
.mysj_box3 .mysj_bk2 a:hover{color:#ff6600;}

.All_top{height:165px;margin-bottom:12px;}
.panli_wrapper{width:950px;margin:auto;height:83px;padding-top:2px;}
.logo{float:left;font-size:0;width:344px;}
.logo a{color:#FFF;}
.logo b{float:left;margin-right:-1000px;}
.logo img{position:relative;left:0;}
.logo .alogo_l{float:left;}
.logo .alogo_r{float:right;}

.fast_daigouOuter{width:454px;height:39px;float:right;margin:10px 10px 0 0; display:inline; position:relative;}
.fast_daigouButton{ width:448px; height:25px;}
.fast_daigouButton a{background:url(/FrontEnd/images20090801/Gobal/button.gif) no-repeat -78px 0px; display:block; width:78px; height:25px; float:left; text-decoration:none; font-size:0px; text-indent: -9999em;}
.fast_daigouButton .fast_daigouButton2{ background-position:-78px -26px; margin-left:8px; display:inline;}
.fast_daigouButton1:hover, .fast_daigouButton1.on{background-position:0 0px;}
.fast_daigouButton2:hover, .fast_daigouButton2.on{background-position:0 -26px;}
.fast_daigouButton a:hover, .fast_daigouButton .on{ _background-position-x:0px;}
.fast_daigou{background:url(/FrontEnd/images20090801/Gobal/seekbg.jpg) 0 0;_width: 446px;float:left;display:inline;padding: 2px 0px 0px 2px; } 
.fast_daigou label{float:left; text-align:right;line-height:35px; width:50px;margin:2px 0 0 2px;display:inline;color:#000; background-color:#FFF; height:35px;}
.fast_wz,.fast_wz_{background:none;border:0;border: none;color:#000; background: url(/FrontEnd/images20090801/Gobal/topbottonbg.gif) no-repeat 55px 7px #fff; height:15px; padding:10px 0 10px 13px; line-height:15px; font-family: "Arial";font-size:14px; width:327px;float:left;}
.fast_wz_{font-weight:100;color:#f00;}
.but{width:105px;float:left;margin-top:-2px;display:inline; height:39px; overflow:hidden;}
.but a{background:url(/FrontEnd/images20090801/Gobal/topbg.gif) no-repeat -105px 0;color:#6ab236;width:105px;height:39px;float:left;display:inline;font-size:14px;text-decoration:none;line-height:39px;overflow:hidden;display:inline;text-align:center;}
.but .linkbutton{color:#693;}
.but .linkbutton:hover{background-position:0 0;color:#693;}
.but .diygo{color:#FFF;}
.but .diygo:hover{background-position:0 0;color: #fff;}
.fast_tishi{background:url(/FrontEnd/images20090801/Gobal/tishi.gif) no-repeat 0 0;width:282px;height:19px;float:left;margin:0 0 0 115px;display:inline;color:#999;padding-top:9px;padding-left:7px;}
.green{background-position:0 -31px;color:#FFF;}
.crawl_red{color:#FF0000;background-position:0 -61px;}

.TopCartoon{ width:80px; height:80px; position:relative; float:right; z-index:611;}
.TopCartoon img{ width:80px; height:80px; border:none;}
.TopCartoon em{ display:none; position:absolute; width:129px; height:176px;background:url(/FrontEnd/images20090801/Gobal/panlicode.png) no-repeat center; z-index:611; left:-45px; top:73px;}

.channel{width:950px;margin:auto;padding-top:5px;}
.channel ul{float:left;margin:9px 0 0 0px;background:url(/FrontEnd/images20090801/Gobal/fenge.gif) no-repeat left 0;display:inline;}
.channel ul li{font-size:14px;float:left;text-align:center;width:93px;background:url(/FrontEnd/images20090801/Gobal/fenge.gif) no-repeat right 0;height:34px;line-height:34px;padding:0 3px 0 0px;}
.channel ul li a{text-decoration:none;display:block;height:34px;white-space:nowrap;font-family:Arial;}
.lipin{ float:left; width:80px;}
.lipin a{color:#71a8cf; font-size:12px; display:inline; text-decoration:none; }
.lipin a span,.lipin a s{margin-top:17px;display:inline;height:16px;float:left;}
.lipin a span{ +margin-top:19px;_margin-top:19px;}
.lipin a s{ background:url(/FrontEnd/images20090801/icon/common/lipin.gif) no-repeat; display:inline; width:16px; margin-left:10px; margin-right:5px;}
.lipin a:hover span{color:#f00;}
.channel ul li a:hover,.channel ul .xt,.channel ul li .xt:hover{background:url(/FrontEnd/images20090801/Gobal/channel.gif) no-repeat 0 0;color:#FFF;position:relative;width:97px;margin:0 -2px 0 -2px;z-index:3;font-weight:bold;}
.channel ul .xt b{display:none;}
.channel ul li a:hover{background-position:0 -35px;color:#333;z-index:2;font-weight:100;}
.channel ul li a b{color:#33CC00;padding-left:3px;font-size:10px;}
.channel ul li a .navimg{ margin-top:9px; }
.channel ul li a:hover b{color:#009900;font-weight:bold;}

.channel p{float:left;color:#999;margin:18px 0 0 0;white-space:nowrap;}
.channel p a{color:#999;text-decoration:none;}
.channel p a:hover{color:#FF0000;text-decoration:underline;}
.channel p span{padding:0 10px;}
.channel p .orange{color:#ff6600;}

.channel_sou{float:left;margin-top:8px;}
.channel_zb{float:left;background:url(/FrontEnd/images20090801/Gobal/sousou.gif) no-repeat 0 0;height:29px;width:200px;}
.channel_so{float:left;margin-right:-100px;width:150px;position:relative;z-index:610;}
.channel_so input{background:none;border:0;width:140px;font-size:12px;float:left;margin-right:-100px;height:12px;padding:8px 5px;}
.channel_hui{color:#bbb;}
.channel_lx{background:#fff;width:199px;border:#ccc solid 1px;float:left;position:absolute;top:28px;left:0;z-index:6;}
.channel_lx a{display:block;width:189px;height:26px;line-height:26px;float:left;padding-left:10px;text-decoration:none;color:#666;font-weight:bold;}
.channel_lx .channel_on{background:#cff1b4;color:#666;cursor:default;}
.channel_lx a b{padding-right:1px;font-weight:100;}

.channel_yb{float:left;}
.channel_yb input{background:url(/FrontEnd/images20090801/Gobal/sousou.gif) no-repeat right 0;height:29px;width:39px;border:0;cursor:pointer;}
.channel_yb .channel_bys{background-position:right -31px;}
.channel_xl{float:right;position:relative;z-index:200;}
.channel_xz{height:27px;float:left;width:42px;line-height:27px;border-left:#ccc solid 0px;margin-top:1px;padding-left:9px;background:url(/FrontEnd/images20090801/Gobal/sousou.gif) no-repeat 35px -40px;text-decoration:none;}
.channel_xz:hover{color:#333;background:#F5FFDD url(/FrontEnd/images20090801/Gobal/sousou.gif) no-repeat 34px -40px;border-left:#ccc solid 1px;padding-left:8px;}
.channel_list{position:absolute;top:28px;left:0px;width:50px;background:#fff;border:#ccc solid 1px;z-index:6;}
.channel_list a{line-height:27px;float:left;width:42px;text-decoration:none;padding-left:8px;}
.channel_list a:hover{color:#333;background:#F5FFDD;}

.foot{background:url(/FrontEnd/images20090801/Gobal/foot_bj.jpg) repeat-x 0 70px;height:330px;border-top:#e9e9e9 solid 3px;clear:both;}
/*.help{margin:auto;width:950px;margin-top:10px;height:245px;} */
.help{margin:auto;width:950px;margin-top:10px;height:240px;}
.fenlei{float:left;width:115px;height:120px;padding:10px 0 0 5px;margin-top:5px;background:url(/FrontEnd/images20090801/Gobal/fg.gif) no-repeat right 0;height:130px;}
.fenlei ul li{line-height:22px;}
.fenlei a{color:#bbb;text-decoration:none;}
.fenlei a:hover{text-decoration:underline;color:#F60}
.fenlei h3{font-size:12px;color:#999;margin-bottom:5px;}
.fenlei li{line-height:20px;}
.lx{padding-left:10px;float:left;width:215px;font-family:Arial;color:#bbb;}

.lx h3{padding-top:10px;height:65px;}
.lx li{line-height:20px;padding-top:10px;}
.lx ul{height:40px;}

.lx li a{color:#bbb;}
.lx li a:hover{color:#FF0000;}
.Gobal_time label{float:left;width:135px;}
.Gobal_time p{float:left;margin-top:-3px;width:80px;}
.Gobal_time p span{background:#666;height:20px;width:20px;color:#FFF;float:left;font-family:"simsun";line-height:20px;text-align:center;font-size:14px;font-weight:bold;}
.Gobal_time p b{float:left;background:url(/FrontEnd/images20090801/Gobal/mh.gif) no-repeat 0 0;height:10px;width:3px;margin:5px 3px 0 3px;}

/*.bottom{width:950px;margin:auto;} */
.bottom{width:950px;margin:auto;border-top:1px solid #ddd;width:950px;clear:both;padding-top:5px;}
.b_logo{float:left;border-right:#e3e3e3 solid 1px;width:140px;height:120px;}
.b_logo img{margin-top:30px;}
.b_box{width:800px;float:left;margin-right:-1120px;}
.b_box p{color:#bbb;margin:5px 0 0 15px;line-height:20px;}
.b_box p a{color:#bbb;}
.b_box p a:hover{color:#FF0000;}
.b_box p span{padding:0 10px;}

.linkbutton{cursor:pointer;}

.top_tool a{float:left;}
.gj_xl{position:absolute;top:25px;width:93px;right:18px;display:none;}
.gj_xl li{border-right:0}
.gj_xl li a{color:#FFF;text-decoration:none;display:block;padding-left:10px;border-bottom:#bbb solid 1px;height:24px;line-height:24px;background-color:#4d4d4d;width:93px;}
.gj_xl li a:hover{background:#fff;color:#333}
.gj_xl span{color:#ffff66;}

.Operation_cg{display:none;background:url(http://sf.panli.com/FrontEnd/images20090801/icon/use/ok.gif) no-repeat 0 0;height:51px;width:238px;position:fixed;z-index:900;_position:absolute;left:50%; margin-left:-119px;top:50%;margin-top:-25px;_margin-top:0;padding:15px 0 0 50px;font-size:14px;}

.help_anbao{background:url(/FrontEnd/images20090801/Gobal/anbao.gif) no-repeat 0 10px;height:68px;width:950px;clear:both;padding-top:10px;}


.help_anbao li{float:left;padding-top:13px;}
.help_anbao li a{float:left;text-indent:-10000px;height:42px;margin-right:14px;display:inline;}
.help_anbao .anbao_1 a{margin-left:542px;width:143px;margin-right:21px;}
.help_anbao .anbao_2 a{width:102px;margin-right:19px;}
.help_anbao .anbao_3 a{width:50px;}
.help_anbao .anbao_4 a{width:47px;height:55px;margin-top:-5px;margin-right:0;}



.yuanbj{background:url(/FrontEnd/images20090801/Gobal/top_bj.jpg) repeat-x 0 bottom;height:52px;}
.mypbj{background:url(/FrontEnd/images20090801/Gobal/myp_bj.gif) 0 bottom;height:40px;margin-top:12px;}

.channelmy{width:950px;margin:auto;padding-top:5px;}
.channelmy ul li{font-size:14px;float:left;text-align:center; position:relative; width:96px;background:url(/FrontEnd/images20090801/Gobal/fenge2.gif) no-repeat right 0;height:34px;line-height:34px;padding:0 3px 0 0px;}
.channelmy a{text-decoration:none;color:#333;display:block;height:34px;white-space:nowrap;font-family:Arial;}


.channelmy ul li a:hover,.channelmy ul .xt,.channelmy ul li .xt:hover{background:url(/FrontEnd/images20090801/Gobal/channelmy.gif) no-repeat 0 0;color:#FFF;position:relative;width:100px;z-index:3;font-weight:bold;margin:0 -2px -5px -2px;}
.channelmy ul li a:hover{background-position:0 -35px;color:#333;z-index:2;font-weight:100;}
.PhoneTi,.channelmy ul li a.PhoneTi:hover{ position:absolute;display:block; margin:0px; text-decoration:none; top:-30px; left:-14px; z-index:10; width:126px; height:34px; background:url(/FrontEnd/images20090801/newmypanli/PhoneTi.png) no-repeat;background-position: 0 0px;}


.am_topss{float:right;}
.amchannel_help{float:left;}
.amchannel_help a{color:#666;text-decoration:none;margin:15px 0 0 10px;display:block;}
.amchannel_help a:hover{color:#ff0000;text-decoration:underline;}

.am_dibuss{float:left;white-space:nowrap;margin:8px 0 0 5px;}
.am_dibuss a{color:#666;text-decoration:none;display:block;}
.am_dibuss a:hover{color:#ff0000;text-decoration:underline;}



.channel_lipin{float:right;margin-top:5px;}
.channelmy .channel_lipin a{line-height:20px;height:20px;padding-left:20px;background:url(/FrontEnd/images20090801/icon/common/lipin.gif) no-repeat left 0;color:#71a8cf;}
.channel_lipin a:hover{color:#f60;text-decoration:underline;}

.channel_jifen{float:right;margin-top:5px;}
.channelmy .channel_jifen a{line-height:20px;height:20px;padding-left:20px;color:#333;}
.channel_jifen a:hover{color:#f60;text-decoration:underline;}
.channel_jifen a span{color:#d00;}

.channel_lipin_score{float:right;margin-top:5px;}
.channelmy .channel_lipin_score a{line-height:20px;height:20px;padding-left:20px;background:url(/FrontEnd/images20090801/newmypanli/jbjf.gif) no-repeat left 0;color:#71a8cf;}
.channel_lipin_score a:hover{color:#f60;text-decoration:underline;}


.GobalCS {
      float:right;
     width:70px; text-align:right; position:fixed; z-index:799;display:block;right: 0px;top: 300px;}
.GobalCS .as{background:url(/FrontEnd/images20090801/newindex/topscr.gif) no-repeat;text-decoration:none;text-align:center;display:block; }
.GobalCS a.kefu{width:66px; height:79px; background-position:0px 1px;_background-position:1px 1px;+background-position:1px 1px;}


.am_footer_ali{margin-bottom:10px;line-height:20px;width:950px;margin:auto;}
.am_footer_ali ul li{float:left;margin-bottom:5px;}
.am_footer_ali ul li a{text-decoration:none;color:#bfbfbf;}
.am_footer_ali ul li a:hover{text-decoration:underline;color:#f60;}
.am_footer_ali ul li b{padding:0 10px;font-weight:normal;color:#bfbfbf;}


.a_shequ{padding-top:10px;}
.a_shequ ul li{float:left;}
.a_shequ ul li a{background:url(/FrontEnd/images20090801/shequ.gif) no-repeat 0 0;width:30px;height:27px;float:left;margin-right:5px;}
.a_shequ ul li a:hover{background-position:0 -27px;}
.a_shequ ul li .facebook_a{background-position:-35px 0;}
.a_shequ ul li .facebook_a:hover{background-position:-35px -27px;}

.a_shequ .weixin_a{position: relative;width:27px;height:27px;float:left;}
.weixin_a em{background:url(/FrontEnd/images20090801/panlicode2.png) no-repeat 0 0;height:176px;width:129px;display:block;position:absolute;z-index:500;left: -62px;top:28px;}

.b_boxText{color: #bbb;margin: 5px 0 0 15px;line-height: 20px;}
.b_boxText h1,.b_boxText h2{display:inline; font-size:12px;}
.b_boxText a{color: #bbb; text-decoration:none;}

.red_gift
{
    width:20px;
    height:16px;
    float:left;
     margin-left:2px;
  
    }
.quick-menu .mypanli_gift
{
    position:relative;
    width:114px;
    padding-right:24px;
    padding:0;
   height:14px;
     line-height: 22px;
 }

 .li_03.current a{color:#000 !important; }  
 .li_03:hover{color:#d86011 !important;}
.yaioqing a{color:#020401 !important;cursor:pointer;}
 .yaioqing a:hover{color:#d86011 !important;}
    
.mypanli_gift .li_03
{   width:94px;
    float:left;
    /* background:url(/FrontEnd/images20090801/newmypanli/coupon/newcoupon/new_img_03.png) no-repeat 66px  5px; */
    background:url(/FrontEnd/images20090801/li_03.png) no-repeat 66px  3px;
    display:block;
    height:23px;
    margin: -4px 0px -1px 0px;
    padding:0 10px;
    position:absolute;
    border-top:1px solid #4d4d4d;
  
}
.current a.li_03
{
      background-color:#faffec;
      height:24px;
      line-height:24px;
      color:#000;
        border:1px solid #bbb;
      border-bottom:0;
      left:-1px;
      
   }

.arr
{  
    margin-left:5px;
    background-position:-62px 0px;
    position:absolute;
   
}
.current .arr{ background-position:-62px -24px;}
.yaioqing
{
    position:absolute;
    height:26px;
    line-height:26px;
    background:#faffec;
     border:1px solid #bbb;
     border-top:0;
     width:104px;
     left:-1px;
     top:21px;
     
     padding-left:10px;
     display:none;
 }
.current .yaioqing{ display:block;}

 .mysj_box2 .zizhugou{color:#ff6600;}
 

