.clearfix {
	display:block;
	&:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
}

.clear{
  clear:both;
  overflow:hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.z-w{
  width: 1017px;
  margin: 0 auto;
}
.m-atuo{
  margin: 0 auto;
}
.activity-main{
  overflow: hidden;
}
#frame,.z-floor-nav{
  font: 14px / 1.42857 "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  h5{
    font-weight: 400;
  }
  p{
    font-weight: 400;
  }
}