.bs-docs-header{
  background: rgb(17, 195, 150);
  color: #FFF;
  padding: 30px 0;
}
.list-wrap{
  padding: 30px 0;
}
.list-d{
  border-left:4px solid #aa6708;
  margin-bottom: 10px;
  padding-left: 20px;
  clear: both;
  line-height: 34px;
  overflow: hidden;
}
.info-time{
  margin-right: 30px;
}
.info-text{

}
.url-btn{
  float: right;
}
