.floor-nav-wrap{
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 200;
}
.floor-nav{
	position: relative;
	width: 140px;
	height: 432px;
	background: url(../images/floor-nav.png) no-repeat center top;
	.floor-nav-tager{
		display: block;
		height: 119px;		
	}
	.floor-nav-u{
		position: relative;		
		li{
			height: 35px;			
			//border-bottom: 1px solid deepskyblue;
			opacity: 0.5;
			a{
				display: block;
				height: 34px;
			}
		}
	}
}
