.product-wrap{
	background: #fe282e;
	min-height: 600px;
}
.product-main{
	position: relative;
	padding-top: 40px;
	.pro-title{
		height: 136px;
		background: url(../images/pro-title.png) no-repeat center center;
	}
}

.floor-wrap{
	padding-top: 22px;
	.floor-title{
		padding-top: 10px;
		height: 47px;
		background: url(../images/floor-title-bg.png) no-repeat center bottom;
		text-align: center;
		span{
			width: 144px;
			height: 36px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center bottom
		}
	}	
}

.floor-1{
	span{
		background-image: url(../images/floor-1-t.png);
	}
}
.floor-2{
	span{
		background-image: url(../images/floor-2-t.png);
	}
}
.floor-3{
	span{
		background-image: url(../images/floor-3-t.png);
	}
}
.floor-4{
	span{
		background-image: url(../images/floor-4-t.png);
	}
}
.floor-5{
	span{
		background-image: url(../images/floor-5-t.png);
	}
}
.floor-6{
	span{
		background-image: url(../images/floor-6-t.png);
	}
}
.floor-7{
	span{
		background-image: url(../images/floor-7-t.png);
	}
}
.products-u{
	position: relative;
	width: 1024px;
	padding-top: 20px;
	li{
		float: left;
		width: 240px;
		background: #FFF;
		font-size: 12px;
		margin-right: 14px;
		&:hover{
			.thumb{
				img{
					transform: scale(1.1);
					transition: all 1s ease 0s;
					-webkit-transform: scale(1.1);
					-webkit-transform: all 1s ease 0s;
				}
			}
			
		}
		.pro-box-a{
			display: block;
		}
		.thumb{
			width: 240px;
			height: 290px;
			overflow: hidden;
			img{
				transition:  1s;
				-moz-transition:  1s;	
				-webkit-transition:  1s;
				-o-transition:  1s;
				max-width: 100%;
				max-height: 100%;
			}			
		}
		.title-a{
			color:#333333; 
			// &:hover{
			// 	text-decoration: underline;
			// }
		}
		.p-footer{
			padding: 10px;
		}
		.name{
			font-size: 14px;
			color:#333333;
			white-space: nowrap;
			height: 19px;
			line-height: 20px;		
			text-overflow: -o-ellipsis-lastline;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
			// -webkit-transition: color 0.3s;
			// -moz-transition: color 0.3s;
			// transition: color 0.3s;
			// &::before,&::after{
			// 	position: absolute;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 2px;
			// 	background: #333;
			// 	content: '';
			// 	opacity: 0;
			// 	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			// 	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			// 	transition: opacity 0.3s, transform 0.3s;
			// 	-webkit-transform: translateY(-10px);
			// 	-moz-transform: translateY(-10px);
			// 	transform: translateY(-10px);
			// }
			// &::before{
			// 	top: 0;
			// 	-webkit-transform: translateY(-10px);
			// 	-moz-transform: translateY(-10px);
			// 	transform: translateY(-10px);
			// }
			// &::after {
			// 	bottom: 0;
			// 	-webkit-transform: translateY(10px);
			// 	-moz-transform: translateY(10px);
			// 	transform: translateY(10px);
			// }
			// &:hover::before,&:hover::after{
			// 	opacity: 1;
			// 	-webkit-transform: translateY(0px);
			// 	-moz-transform: translateY(0px);
			// 	transform: translateY(0px);
			// }
		}
		.p1{
			color: #999999;
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
		
		a{
			text-decoration: none;
		}
		.icon-do12{
			position: relative;
			top: -2px;
			display: inline-block;
			width: 52px;
			height: 17px;
			vertical-align: middle;
			background: url(../images/icon-do12.png) no-repeat center center;
		}
		.icon-do12-2{
			position: relative;
			top: -2px;
			display: inline-block;
			width: 52px;
			height: 18px;
			vertical-align: middle;
			font-size: 11px;
			line-height: 19px;
			text-align: center;
			color: #FFF;
			background: #f9272e;
			.triangle{
				position: absolute;
				left: 51px;
				top: 3px;
				width:0; 
				height:0; 
				border-top:5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #f9272e;
			}
		}
		.p2{
			color: #f9272e;
			font-size: 18px;
			padding-bottom: 6px;
			.price{
				font-size: 26px;
				line-height: 20px;
			}
		}
		.btn1,.btn2{
			display: inline-block;
			width: 105px;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
		.btn1{
			position: relative;		
			border:1px solid #f9272e;
			background: #ffeff0;
			color: #f9272e;
			margin-right: 6px;
			margin-left: -4px;			
			-webkit-transition:0.4s;
			-o-transition:0.4s;
			transition:0.4s;
			.line{
				display:inline-block;
				background-color:#FFF;
				position:absolute;
				-webkit-transition:0.5s ease;
				-o-transition:0.5s ease;
				transition:0.5s ease;
			}
			.line_top {
				height:2px;
				width:0;
				left:-50%;
				top:-2px;
			}
			.line_right {
				height:0;
				width:2px;
				top:-50%;
				right:-2px;
			}
			.line_left {
				height:2px;
				width:0;
				right:-50%;
				bottom:-2px;
			}
			.line_bottom {
				width:2px;
				height:0;
				bottom:-50%;
				left:-2px;
			}
			&:hover{
				.line_right {
					height:100%;
					top:-2px;
				}
				.line_top {
					width:100%;
					left:-2px;
				}
				.line_bottom {
					height:100%;
					bottom:-2px;
				}
				.line_left {
					width:100%;
					right:-2px;
				}
			}
			
	

		}
		.jian{
			display: inline-block;
			position: relative;
			top: -1px;
			width: 4px;
			height: 6px;
			vertical-align: middle;
			background: url(../images/jian.png) no-repeat center center;
		}
		.btn2{
			position: relative;		
			border:1px solid #f9272e;
			background: #f9272e;
			color: #fff;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			z-index: 1;
			
			// -webkit-transform-style: preserve-3d;
			// -moz-transform-style: preserve-3d;
			// transform-style: preserve-3d;
			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
				width: 100%;
				height: 0;
				top: 50%;
				left: 50%;
				background: #fff;
				opacity: 0;
				-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
				-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
				-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
			}
			&:after {
				// content: '';
				// position: absolute;
				// z-index: -1;
				// -webkit-transition: all 0.3s;
				// -moz-transition: all 0.3s;
				// transition: all 0.3s;
				
				// width: 20%;
				// height: 100%;
				// left: 100%;
				// top: 0;
				// background: #FF4A50;
				// -webkit-transform-origin: 0% 0%;
				// -webkit-transform: rotateY(90deg);
				// -moz-transform-origin: 0% 0%;
				// -moz-transform: rotateY(90deg);
				// -ms-transform-origin: 0% 0%;
				// -ms-transform: rotateY(90deg);
				// transform-origin: 0% 0%;
				// transform: rotateY(90deg);
				
			}
			// &:hover {
			// 		-webkit-transform: rotateY(-15deg);
			// 		-moz-transform: rotateY(-15deg);
			// 		-ms-transform: rotateY(-15deg);
			// 		transform: rotateY(-15deg);
			// 	}
			&:hover{
				background: #FF4A50;
			}
			
			// &:hover:before {
			// 	height: 130%;
			// 	opacity: 1;
			// }

			
		}
	}
}

.more-wrap{
	text-align: right;
	padding: 10px 0;
	a{	
		font-size: 12px;
		text-decoration: none;
		color: #552400;
		display: inline-block;
		background: #f9c810;
		border:2px solid #f9a410;
		padding: 5px 10px;
		border-radius: 15px;
	}
}

.miji-wrap{
	padding-bottom: 70px;
	height: 657px;
	position: relative;
	.m-favorites{
		position: absolute;
		display: block;
		width: 230px;
		height: 30px;		
		z-index: 2;
		left: 293px;
    	top: 272px;
	}
}



/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 1;
}

.btn:before {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #FFF;
}

/* Button 1e */
.btn-1e {
	overflow: hidden;
	position: relative;
}
.btn-1e:hover,
.btn-1e:active {
	color: #0e83cd;
}
.btn-1e:before {
	
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}



.btn-1e:hover:before {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:before {
	height: 400%;
	opacity: 1;
}

// .btn-8 {
// 	display: block;
// 	background: #5cbcf6;
// 	-webkit-transform-style: preserve-3d;
// 	-moz-transform-style: preserve-3d;
// 	transform-style: preserve-3d;
// }

// .btn-8:active {
// 	background: #55b7f3;
// }


// /* Button 8d */
// .btn-8d:after {
// 	width: 20%;
// 	height: 100%;
// 	left: 100%;
// 	top: 0;
// 	background: #49a7df;
// 	-webkit-transform-origin: 0% 0%;
// 	-webkit-transform: rotateY(90deg);
// 	-moz-transform-origin: 0% 0%;
// 	-moz-transform: rotateY(90deg);
// 	-ms-transform-origin: 0% 0%;
// 	-ms-transform: rotateY(90deg);
// 	transform-origin: 0% 0%;
// 	transform: rotateY(90deg);
// }

// .btn-8d:hover {
// 	-webkit-transform: rotateY(-15deg);
// 	-moz-transform: rotateY(-15deg);
// 	-ms-transform: rotateY(-15deg);
// 	transform: rotateY(-15deg);
// }
