.yello-wrap{
	min-height: 300px;
	background: url(../images/yello-bg.png);
	padding-top: 15px;
}
.yello-lis-wrap{
	height: 200px;
	background: url(../images/list-bg.png) no-repeat center center;
	background-size: 100% 100%;
}