$colorbg:#fff;
$color:#FF6B6B;
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.clearfix{display:inline-block;}
.clearfix {display:block;}

.clear{
  clear:both;
  overflow:hidden;
}

body
{
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #999;
}

p, h1, h2, h3, h4, h5, h6, li, ul, dd, dt, dl, form, div
{
  margin: 0;
  padding: 0;
}
img
{
  border: none;
}

ul li
{
  list-style: none;
}

a
{
  color: #333;
  outline: none;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.del-link{
  text-decoration:line-through;
}
*:focus {outline: none;}

.textarea-wrap-pla{
  position: relative;
  .text-placeholder{
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 10px;
    color: #999;
  }
  textarea{
    z-index: 10;
  }
}
input[type=button]{
	-webkit-appearance:none;
	outline:none
}