.packet-wrap{
	padding-top: 10px;
	padding-left: 0.5rem;
	padding-right:0.25rem;
	ul{
		
		li{
			float: left;
			width: 50%;
			a{	
				position: relative;
				display: block;
				padding: 0.2rem 0.2rem 0 0;
				.thumb{
					position: relative;
				}
				span{
					position: absolute;							
				}
				img{
					margin-bottom: 0;
					padding: 0;
					display: block;
				}
				&.on{
					span{
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						max-width: 280px;		
						background: url(../images/finish.png) no-repeat center center;
						background-size: 100% 100%;
					}
				}				
			}
		}
	}
}

.btn-a-wrap{
	padding: 0.25rem 0;
	margin-bottom: 0.2rem;
	a{
		display: block;
		background-color: #fff32b;
		text-decoration: none;
		color: #f4394a;
		padding: 5px 0;
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		border-radius: 5px;
		&.on{
			background-color: #ffe400;			
		}
	}
}